<div class="main-outer">
  <h3 class="header-text">Customer management</h3>

  <div class="chart-outer" id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [dataLabels]="chartOptions.dataLabels!"
      [grid]="chartOptions.grid!"
      [stroke]="chartOptions.stroke!"
      [title]="chartOptions.title!"
    ></apx-chart>
  </div>

  <hr>

  <div class="customers-data-wrapper">
    <div class="search-outer">
      <input type="search" class="form-control" placeholder="Search here">
    </div>

    <br>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>#id</th>
        <th>Email</th>
        <th>Avatar</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>536465</td>
        <td>{{ 'hasika@gmail.com' }}</td>
        <td><img src="https://sm.ign.com/ign_nordic/cover/a/avatar-gen/avatar-generations_prsz.jpg" alt=""></td>
        <td>
          <button mat-raised-button>Disable</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
