<div class="main-outer">
  <h3 class="header-text">Cart data</h3>
  <hr>

  <div class="customers-data-wrapper">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#id</th>
        <th>date</th>
        <th>Qty</th>
        <th>product</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let temp of dataArray">
        <td>{{ temp?._id }}</td>
        <td>{{ temp?.date | date:'EEEE, MMMM d, y' }}</td>
        <td>{{ temp?.qty }}</td>
        <td>
          <button mat-raised-button (click)="showProduct(temp?._id)">Show Product</button>
        </td>
      </tr>
      </tbody>
    </table>

    <mat-paginator [length]="count"
                   [pageIndex]="page"
                   [pageSize]="size"
                   [pageSizeOptions]="[1, 10, 25, 100]"
                   (page)="getServerData($event)"
                   aria-label="Select page">
    </mat-paginator>

  </div>

</div>
