<div class="outer">
  <div class="nav" routerLink="/dashboard/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </div>
  <div class="nav" routerLink="/dashboard/customer" routerLinkActive="active">
    <mat-icon>person</mat-icon>
  </div>
  <div class="nav" routerLink="/dashboard/cart" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon>
  </div>
  <div class="nav" routerLink="/dashboard/review" routerLinkActive="active">
    <mat-icon>rate_review</mat-icon>
  </div>
  <div class="nav" routerLink="/dashboard/category" routerLinkActive="active">
    <mat-icon>category</mat-icon>
  </div>
  <div class="nav" routerLink="/dashboard/product" routerLinkActive="active">
    <mat-icon>inventory_2</mat-icon>
  </div>
  <div class="nav" routerLink="/dashboard/discount" routerLinkActive="active">
    <mat-icon>local_fire_department</mat-icon>
  </div>
</div>
